body {
	font: 14px/18px arial,tahoma, verdana, serif;
}

h1 {
	font: 23px/15px arial;
}

div, pre {
	overflow: hidden;
}

input {
	color: #333;
	margin-right: 5px;
}

input[type="text"] {
	width: 46px;
}

pre {
	background: #FCFCF8;
	border: 1px dashed #7D7676;
	clear: both;
	color: #480E0C;
	margin: 32px 0;
	width: 636px;
}

textarea {
	display: block;
	margin: 18px 0;
	width: 640px;
	height: 120px;
}

